{% extends 'generic.html' %}
{% load static %}

{% block title %}{{results.word|title}} | Definition of {{results.word}}{% endblock %}

<!-- <link rel="stylesheet" href="{% static '/css/style.css' %}"> -->

{% block content %}
<div class="container">
        <div class="title">
            <h2> {{ results.word | title }} </h2> <br/>
        </div>
        <div class="content">
            <div class="card">
                <!-- <div class="card-header">
                   
                </div> -->
                <div class="card-body">
                    <div class="card-text">
                        
                            <b>Definition: </b> <br/> <br/>
                            
                           {% for m in results.meaning %}
                           <p>
                               <ul>
                                   <li>  
                                    {{m}}
                                   </li>
                               </ul>
                           

                           </p>
                                
                                
                           {% endfor %}
                           
                           
                        <br>
                    </div>
                </div>
            </div>

            <div class="card">
                <!-- <div class="card-header">
                   
                </div> -->
                <div class="card-body">
                    <div class="card-text">
                        <b>சொற்பொருள் விளக்கம்: </b> <br/> <br/> 
                        <p>
                            &emsp; &emsp;
                             {{results.tam_meaning}}
                        </p>
                        <br/>
                    </div>
                </div>
            </div>   

           <div class="card">
                <div class="card-body">
                    <div class="card-text">
                        <b>Other related words: </b>
                        <p>
                            <br/>
                            {% for s in se %}
                            <ul>
                                <li><a class="link-text" href="/word?word={{s}}">{{s}}</a></li>
                            </ul>
                            {% endfor %}
                        </p>
                        <br/>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-body">
                    <div class="card-text">
                        <b>Antonyms: </b> 
                        <p>
                            <br/>
                            {% for s in sv %}
                            <ul>
                                <li>{{s}}</li>
                            </ul>
                            
                            {% endfor %}
                        </p>            
                    </div>
                </div>
            </div>
        </div>

            
        
            
        
    <!-- <br>
    <p>
        <b>Antonyms: </b>
        {% for a in ae %}
        <a href="/word?word={{a}}">{{a}}</a>,
        {% endfor %}
    </p> -->
{% endblock %}